<ion-content>
  <ion-item>
    <img alt="Java Centro Automotivo"  src="assets/img/Java1411(500 × 250 px).png" />
  </ion-item>

  
  <ion-header >
    <ion-toolbar >
      <ion-title >LOGIN</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <form [formGroup]="formLogin">
    <ion-item>
      <ion-label position="floating" >E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ng-container *ngFor="let erro of mensagensErro.email">
      <span class="msg-erro" *ngIf="email.errors?.[erro.tipo] && (email.dirty || email.touched)">
        {{erro.aviso}}
      </span>
    </ng-container>

    
    <ion-item>
      <ion-label position="floating" >Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <ng-container *ngFor="let erro of mensagensErro.Senha">
      <span class="msg-erro" *ngIf="senha.errors?.[erro.tipo] && (senha.dirty || senha.touched)">
        {{erro.aviso}}
      </span>
    </ng-container>
  </form>


  </ion-card>
  
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Registrar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="login()">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Esqueceu a Senha</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
