<ion-content>
  <ion-item>
    <img alt="Java Centro Automotivo"  src="assets/img/Java1411(500 × 250 px).png" />
  </ion-item>

  
  <ion-header >
    <ion-toolbar >
      <ion-title >REGISTRO</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-list lines="full" >
  <form [formGroup]="formRegistro">
<ion-item fill="solid">
  <ion-label position="floating" >Nome Completo</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">E-mail</ion-label>
  <ion-input type="email" formControlName="email"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">CPF</ion-label>
  <ion-input formControlName="cpf"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Senha</ion-label>
  <ion-input type="password" formControlName="senha" ></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Confirmar Senha</ion-label>
  <ion-input type="password" formControlName="senha" ></ion-input>
</ion-item>
</form>


<ion-button expand="full">Registrar</ion-button>

</ion-list>

<ion-item lines="full">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block">Voltar</ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block">Limpar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

</ion-content>